@font-face {
    font-family: 'SuisseIntl';
    src: url('assets/fonts/SuisseIntl-Light.woff') format('woff'),
        url('assets/fonts/SuisseIntl-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('assets/fonts/SuisseIntl.woff') format('woff'),
        url('assets/fonts/SuisseIntl.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseIntl';
    src: url('assets/fonts/SuisseIntl-SemiBold.woff') format('woff'),
        url('assets/fonts/SuisseIntl-SemiBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

$dark: #333333;
$green: #3db565;

body {
    margin: 0;
}

#app {
    font: 300 15px/28px "SuisseIntl", sans-serif;
    color: $dark;
}
h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin: 0;
}

h2 {
    font-size: 34px;
    font-weight: 300;
    margin: 0;
    padding-left: 2px;
    span {
        &:first-child {
            margin-right: 10px;
        }
    }
    .green {
        color: $green;
    }
}

a {
    appearance: none;
    text-decoration: none;
    color: $dark;
    transition: opacity .3s ease;
    @media(min-width: 1200px) {
        &:hover {
            opacity: .7;;
        }
    }
}

button {
    appearance: none;
    background: none;
    box-shadow: none;
    border: 0;
    color: #fff;
    padding: 0;
}

input {
    font: 300 18px/35px "SuisseIntl", sans-serif;
}

.section-container {
    width: 91%;
    margin: 0 auto;
}

.phone-link {
    display: block;
    color: #3db565;
    font-size: 26px;
    margin-top: 26px;
    white-space: nowrap;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@media(max-width: 960px) {
    h2 {
        font-size: 30px;
    }
}

@media(max-width: 650px) {
    #app {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
    .phone-link {
        font-size: 24px;
    }
}
